/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #009A4930;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #009A4999;
    border-radius: 100vh;
    border: 2px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #009A49;
  }