@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-padding {
    padding: 0 10px;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-underline {
  position: relative;
}
.custom-underline::after {
  content: '';
  position: absolute;
  width: 5rem;
  margin-left: 48%;
  height: 4px;
  display: flex;
  align-self: flex-end;
  background-color: #009A49;
}